<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<components xmlns="http://www.intershop.de/component/2010" scope="global">
    <implementation name="TrainingRepositoryExtensionFactory" 
    class="com.wtc.training.internal.bo.TrainingRepositoryExtensionFactory" 
    factory="JavaBeanFactory" implements="AbstractDomainRepositoryBOExtensionFactory"/>
  
  
    <implementation name="TrainingPOToTrainingBOMapper" 
    class="com.wtc.training.internal.bo.TrainingPOToTrainingBOMapper"
     factory="JavaBeanFactory"/>
</components>
