<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<components xmlns="http://www.intershop.de/component/2010">
<fulfill requirement="extensionFactory" of="com.intershop.beehive.core.capi.businessobject.BusinessObjectExtensionFactories">
    <instance name="StudentRepositoryExtensionFactory" with="StudentRepositoryExtensionFactory" scope="app"/>    
</fulfill>
	<instance name="StudentPOToStudentBOObjectMapper" with="StudentPOToStudentBOObjectMapperImpl" scope="app"/>
</components>



